body {
  background-color: #ffffff;
  background-image: url("images/silverware.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}

p,
ul,
ol {
  font-size: 11pt;
  color: #404040;
  font-family: Georgia, Garamond;
}

ul {
  list-style-image: url("images/pie_bullet.png");
}

a {
  color: #a4a400;
}

h1,
h2 {
  color: #a4a400;
  text-decoration: underline;
  font-family: "sans-serif", "Lucida Sans Unicode", Helvetica, Arial;
  letter-spacing: 0.25em;
}

.margin-auto {
  margin: auto;
}

.box-head {
  background-color: #f0f0f0;
  width: fit-content;
}

.box-head h1 {
  text-align: center;
  font-size: 22pt;
  font-weight: bold;
}

.box-head h2 {
  font-size: 18pt;
  font-weight: normal;
  text-align: left;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #404040;
  cursor: default;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #6d6d6d;
  color: #ffffff;
  text-align: center;
  border-radius: 2px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.validator {
  text-align: right;
}

footer {
  font-family: monospace;
  text-align: right;
}

.comment-item {
  font-style: italic;
  margin: 10px 30px;
  background-color: #ffffa8;
}

.pie-brief p {
  margin: 5px;
}
